=render 'subheader'
.actions.ue-container
  .actions__header
    =link_to 'http://www.com21.org' do
      =image_tag 'actions/com21/header.png', class: 'actions__header_image'
    %h1.actions__title= t('actions.com21.title')
  - t('actions.com21.content').each do |key, value|
    .actions__content= value
