=render 'subheader'
.actions.ue-container.actions__ue-festival
  .actions__header
    =link_to 'http://markhensonart.com/', target: '_blank' do
      =image_tag 'actions/uefestival/header.png', class: 'actions__header_image'
      %p New Pioneers © by Mark Henson

  %h1.actions__title= t('actions.uefestival.header')
  %h2.actions__subtitle is NOW OPEN for Registration!
  %div.actions__subtitle-com21
    Join us for this FREE online event as we celebrate a full day
    of solutions innovation, inspiration and synergistic co-creation
    with The United Earth Festival.

  %div.actions__bold-centered Celebrations kick off on March 19 at 11:00 UTC and continue until March 20 02:00 UTC and beyond…


  .solutions__content
    .solutions__quote Don’t ask what the world needs. Ask what makes you come alive, and go do it. Because what the world needs is people who have come alive.
    .solutions__quote-author= "~Howard Thurman"

  %div.actions__program
    Due to the unprecedented duration of this Global Solutions Festival you are invited choose
    which 6-hour period suits your schedule -
    %b and we hope you will choose all 3!!
    The entire event will be recorded for future viewing and dissemination.

  %div.actions__program
    =link_to 'Register HERE', 'http://myaccount.maestroconference.com/conference/register/38QY5OPA3G4KAN3', class: 'accent-button-inline', target: '_blank'
    for Part One 11:00 UTC - 17:00 UTC (Your timezone <a href="http://www.worldtimebuddy.com/?qm=1&lid=2747891,3451190,5809844,1609350&h=2747891&date=2016-3-19&sln=12-18" target="_blank">here</a>):
    %ul
      %li 11:00 - 12:00 Opening Introductions, Setting the tone for Synergistic Co-creation, Pursuing our Passion
      %li 12:00 - 13:00 Food, Water & Environment
      %li 13:00 - 14:00 Health, Wellness & Family
      %li 14:00 - 15:00 Science, Energy & Technology
      %li 15:00 - 16:00 Housing, Infrastructure & Transport
      %li 16:00 - 17:00 Arts & Culture


  %div.actions__program
    =link_to 'Register HERE', 'http://myaccount.maestroconference.com/conference/register/3JBING1A1V9WXT6I', class: 'accent-button-inline', target: '_blank'
    for Part Two 17:00 UTC - 23:00 UTC (Your timezone <a href="http://www.worldtimebuddy.com/?qm=1&lid=2747891,3451190,5809844,1609350&h=3451190&date=2016-3-19&sln=14-20" target="_blank">here</a>):
    %ul
      %li 17:00 - 18:00 Resource Sharing, Trade & Economics
      %li 18:00 - 19:00 Ancient & Emergent Wisdom
      %li 19:00 - 20:00 Justice, Sovereignty & Governance
      %li 20:00 - 21:00 Personal Development, Spirituality & Religion
      %li 21:00 - 22:00 Peacebuilding, Community & Relations
      %li 22:00 - 23:00 Learning & Education


  %div.actions__program
    =link_to 'Register HERE', 'http://myaccount.maestroconference.com/conference/register/MS27M4K5Z7SBXWA', class: 'accent-button-inline', target: '_blank'
    for Part Three 23:00 UTC - 05:00 UTC (Your timezone <a href="http://www.worldtimebuddy.com/?qm=1&lid=2747891,3451190,5809844,1609350&h=2747891&date=2016-3-20&sln=0-6" target="_blank">here</a>):
    %ul
      %li 23:00 - 24:00 Media & Communication
      %li
        24:00 - 02:00 Compassion Games, Faces of Unity, Upcoming Events, Introduction to Synergy Hub 1.0 and celebrating
        %b The Global Unleashing of the United Earth Website!!
      %li
        02:00 we collectively flow into the
        %b
          = link_to 'Unify / Uplift Water Celebration', 'http://blessthewater.com/bless-the-water-video/'
        that synchronistically kicks-off when UEF'16 ends (and we're really just getting started!)


  .actions__wheel
    =image_tag 'actions/uefestival/Clock_wheel_Final.png', class: 'actions__header_image'

  .actions__bold-centered The Full 15-hour Program will be posted on the United Earth Website on or about March 15.

  .actions__centered
    =image_tag 'actions/uefestival/uef_banner.jpg', class: 'actions__header_image'

  .actions__content
    UEF’16 is a uniquely diverse and unifying event that will offer a full day of showcasing cutting-edge and grassroots solutions, timeless teachings, social architectures, whole-systems transition strategies and evolutionary communities, with innovators and mentors from all sectors of human society. We will also be interviewing other global unity and collaboration platforms to reveal our alignment and commitment to work together.

  .actions__content
    The festival’s ‘whole-systems’ program will cover a spectrum of ecological, economic, technological and health solutions and include presenters:
    %ul
      %li
        %b John D. Liu
        ="- award-winning filmmaker and pioneering champion of large scale ecological restoration"
      %li
        %b Jillian Hovey
        ="- international permaculture teacher and designer of regenerative systems"
      %li
        %b Hereditary Chief Phil Lane Jr.
        ="- Wisdom Keeper and Integral Unifier"
      %li
        %b Sabine Lichtenfels
        ="- author, peace-activist and co-founder of Tamera ecovillage"
      %li
        %b ... many more prominent and emergent co-creatives!
    Key highlights include
    %b Noomap
    ="- a groundbreaking co-creation technology;"
    Synergy Forums - connecting with our unique gifts to serve synergistic co-creation;
    Compassion Games - Survival of the Kindest;
    Yunity - sharing is a blossoming art form... and much, much more!!

  .actions__centered
    CO-CREATION STARTS HERE:
  .actions__bold-centered
    PLEASE JOIN OUR THUNDERCLAP
    %br
    TO HELP SPREAD THE WORD OF THIS EPIC EVENT!
    %br
    =link_to "THUNDERCLAP UEF'16", 'https://www.thunderclap.it/projects/38926-join-global-unity-festival-now'

  .actions__program
    %b The Charter for Compassion
    have kindly offered their MaestroConference account that will allow festival goers to sign up for free and watch online, as well as participate through sharing questions, comments and going into small breakout groups for personal connection, brainstorming and discussion.  United Earth will be using the festival to introduce Noomap, which will be used in its prototype format to map feedback live being shared by participants.

  .actions__content
    =link_to 'Register HERE for Part One', 'http://myaccount.maestroconference.com/conference/register/38QY5OPA3G4KAN3', target: '_blank'
    11:00 UTC - 17:00 UTC (Your timezone <a href="http://www.worldtimebuddy.com/?qm=1&lid=2747891,3451190,5809844,1609350&h=2747891&date=2016-3-19&sln=12-18" target="_blank">here</a>):
    %br
    =link_to 'Register HERE for Part Two', 'http://myaccount.maestroconference.com/conference/register/3JBING1A1V9WXT6I', target: '_blank'
    17:00 UTC - 23:00 UTC (Your timezone <a href="http://www.worldtimebuddy.com/?qm=1&lid=2747891,3451190,5809844,1609350&h=3451190&date=2016-3-19&sln=14-20" target="_blank">here</a>):
    %br
    =link_to 'Register HERE for Part Three', 'http://myaccount.maestroconference.com/conference/register/MS27M4K5Z7SBXWA', target: '_blank'
    23:00 UTC - 05:00 UTC (Your timezone <a href="http://www.worldtimebuddy.com/?qm=1&lid=2747891,3451190,5809844,1609350&h=2747891&date=2016-3-20&sln=0-6" target="_blank">here</a>):


  .actions__program
    This festival is designed to catalyse a chain of events that United Earth will be hosting throughout 2016 to synergise global change agents and empower greater levels of co-creation and collaboration. United Earth intends to act as a planetary meeting ground and ‘universal docking station’ where individuals and groups can share their diverse wealth of knowledge, ideas, visions, skills, tools and resources on one common platform.
  .actions__content
    On behalf of the entire blossoming United Earth Community including all our co-creators and collaborators...
  .actions__program
    %b We hope to see you there!!