=render 'subheader'
.actions.ue-container
  .actions__header
    =link_to 'https://united-earth.vision/UnitedEarthFestival.pdf', target: '_blank' do
      =image_tag 'actions/uefestival/FB_post.jpg', class: 'actions__header_image'

  .solutions__content
    .solutions__quote= raw t('solutions.portals.quote')
    .solutions__quote-author= t('solutions.portals.author')

  %h1.actions__title= t('actions.uefestival.header')
  %div= raw t('actions.uefestival.content')

  .actions__program
    =link_to 'View Program', 'https://united-earth.vision/UnitedEarthFestival.pdf', class: 'accent-button', target: '_blank'



  %div.actions__subtitle-com21
    Join us for this FREE online event as we celebrate a full day
    of innovation, inspiration and synergistic co-creation
    with The United Earth Festival 2016 on
    %b March 19th

  %div.actions__bold-centered Celebrations kick off 12:00PM GMT and continue to 03:00AM GMT

  %div.actions__program
    Due to to the unprecedented duration of this Global Solutions Festival you are invited choose
    which 6-hour period suits your schedule -
    %b and we hope you will choose all 3!!
    The entire event will be recorded for future viewing and dissemination.

  %div.actions__program
    Register
    =link_to 'HERE', 'http://myaccount.maestroconference.com/conference/register/38QY5OPA3G4KAN3', class: 'accent-button-inline', target: '_blank'
    for Part One 12:00 CET-18:00 CET (Your timezone here):
    %ul
      %li 12:00 - 13:00 CET Opening Introductions, Setting the tone for Synergistic Co-creation
      %li 13:00 CET Starting with Food, Water & Environment until 18:00 CET ending with Arts & Culture.

  %div.actions__program
    Register
    =link_to 'HERE', 'http://myaccount.maestroconference.com/conference/register/3JBING1A1V9WXT6I', class: 'accent-button-inline', target: '_blank'
    for Part Two 18:00 CET-00:00 CET (Your timezone here):
    %ul
      %li 18:00 CET - Starting with Economics, Trade & Resource Sharing until
      %li 00:00 CET ending with Learning & Education.

  %div.actions__program
    Register
    =link_to 'HERE', 'http://myaccount.maestroconference.com/conference/register/MS27M4K5Z7SBXWA', class: 'accent-button-inline', target: '_blank'
    for Part Three 00:00 CET-06:00CET (Your timezone here):
    %ul
      %li 00:00 CET - Starting with Media & Communication and continuing until 03:00 CET with the Compassion Games, Faces of Unity, Upcoming Events, Introduction to Synergy Hub 1.0 and celebrating the Global Unleashing of the United Earth Website!!
      %li At 03:00 CET we collectively flow into the Unify / Uplift Water Celebration that synchronistically kicks-off when UEF'16 ends (and we're really just getting started!).