=render 'subheader'
.actions.ue-container.actions__ue-festival
  .actions__header
    =link_to 'http://markhensonart.com/', target: '_blank' do
      =image_tag 'actions/uefestival/header.png', class: 'actions__header_image'
      %p New Pioneers © by Mark Henson

  %h1.actions__title The United Earth Festival - Sharing Solutions for a Global Transition - March 19th
  %h2.actions__subtitle will be streamed on this site!
  %div.actions__subtitle-com21
    Join us for this FREE online event as we celebrate a full day
    of innovation, inspiration and synergistic co-creation
    with The United Earth Festival.

  %div.actions__bold-centered Celebrations kick off on March 19 at 11:00 UTC and continue until March 20 02:00 UTC and beyond…


  .solutions__content
    .solutions__quote Don’t ask what the world needs. Ask what makes you come alive, and go do it. Because what the world needs is people who have come alive.
    .solutions__quote-author= "~Howard Thurman"


  = link_to '/UEF2016_Program.pdf', target: '_blank' do
    .actions__wheel
      =image_tag 'actions/uefestival/Clock_wheel_Final.png', class: 'actions__header_image'

    .actions__bold-centered Get the Full 15-hour Program here.

    .actions__centered
      =image_tag 'actions/uefestival/uef_banner.jpg', class: 'actions__header_image'

  .actions__content
    UEF’16 is a uniquely diverse and unifying event that will offer a full day of showcasing cutting-edge and grassroots solutions, timeless teachings, social architectures, whole-systems transition strategies and evolutionary communities, with innovators and mentors from all sectors of human society. We will also be interviewing other global unity and collaboration platforms to reveal our alignment and commitment to work together.

  .actions__content
    The festival’s ‘whole-systems’ program will cover a spectrum of ecological, economic, technological and health solutions and include presenters:
    %ul
      %li
        %b John D. Liu
        ="- award-winning filmmaker and pioneering champion of large scale ecological restoration"
      %li
        %b Jillian Hovey
        ="- international permaculture teacher and designer of regenerative systems"
      %li
        %b Hereditary Chief Phil Lane Jr.
        ="- Wisdom Keeper and Integral Unifier"
      %li
        %b Sabine Lichtenfels
        ="- author, peace-activist and co-founder of Tamera ecovillage"
      %li
        %b ... many more prominent and emergent co-creatives!
    Key highlights include
    %b Noomap
    ="- a groundbreaking co-creation technology;"
    Synergy Forums - connecting with our unique gifts to serve synergistic co-creation;
    Compassion Games - Survival of the Kindest;
    Yunity - sharing is a blossoming art form... and much, much more!!

  .actions__program
    United Earth will be using the festival to introduce Noomap, which will be used in its prototype format to map feedback live being shared by participants.

  .actions__program
    This festival is designed to catalyse a chain of events that United Earth will be hosting throughout 2016 to synergise global change agents and empower greater levels of co-creation and collaboration. United Earth intends to act as a planetary meeting ground and ‘universal docking station’ where individuals and groups can share their diverse wealth of knowledge, ideas, visions, skills, tools and resources on one common platform.
  .actions__content
    On behalf of the entire blossoming United Earth Community including all our co-creators and collaborators...
  .actions__program
    %b We hope to see you there!!