.un-application
  %h1.header UNITED NATIONS APPLICATION FOR SOLUTIONS SUMMIT SEPT. 27, 2015
  .question 4. Tell us about your solution.
  .quote What is it called, how does it work, what is the longer-term vision for global impact? While the world's problems are becoming increasingly complex, the solutions remain embarrassingly simple.
  .quote-author Bill Mollison, co-initiator of Permaculture Design

  .name
    .head Name of Project:
    .ue A United Earth​­
    = ' - A Planetary Whole-Systems Solution'
    .supporters Supporters and Allies of this Application and Solution:
    United Earth and COM 21 Participants

  %ol
    %li The Rules.
    %li The Earth Organization for Sustainability (EOS) 3. The Zeitgeist Movement Global.
    %li Forward the revolution.
    %li Free worlder.
    %li The Free World Charter.
    %li Y.I.P (Youth Initiative Program)
    %li Earth Charter International. (Earth Charter)
    %li Sharing Behind the Dunes.
    %li One Community.
    %li Mocica. (United and free)
    %li The Venus Project.
    %li Real Project Global Community.
    %li (Our) United Earth.
    %li The Mesh Directory.
    %li Moneyless Society.
    %li Occupy.
    %li Money Free Party.
    %li Copioses.
    %li The Free Movement.
    %li The Pay it forward leadership society.
    %li Iceland Money free (Free World Charter / Freeworlder) 23. Money free Movement.
    %li Earth Guardians (Togo).
    %li Gratis Basis.
    %li The Earth Singers
    %li End Ecocide on Earth.
    %li Global Change Awareness.
    %li Trustroots.
    %li Share International.
    %li Climate Reality Project (Al Gore)
    %li Dortmunder Kaminphilosophen
    %li Share The Worlds Recources
    %li New World Agreement
    %li The Great Unification
    %li The Ashtar Awakening Movement
    %li Free and Real.
    %li The Master Shift
    %li InGienous
    %li Alternative Education Resource Organization (AERO) 41. The Full Circle Project
    %li Ear to the Earth.
    %li Ubuntu Liberation Movement
    %li Positive Money.
    %li Think2Share.
    %li The Wellness Universe
    %li Valhalla
    %li The New System
    %li Perdana Global Peace Foundation
    %li Daily Acts
    %li Sensorica
    %li The Sustainable City
    %li International Children
    %li Unusual Rigging
    %li Indigenous Peoples United Nations
    %li Stop Reset Go
    %li RBE Hybrid Transition U.K.
    %li The Transition
    %li Noomap
    %li Mother Earth Trust (Wildlife Sanctuaries)

  .subheader How does it work?
  .bold We, The People of a United Earth, are openly inviting all concerned citizens of Earth to put aside our ideological differences so that we may come together in love, joining hands in unification, to heal the Earth and all Her Children.​
  A United Earth is a planetary initiative that offers an open, public and inclusive platform for all people and groups - who wish to unite, collaborate and pool our collective resources and s o l u t i o n s a r o u n d t h i s c o m m o n i n t e n t i o n : t o c o ­ c r e a t e a w​ h o l e ­ s y s t e m s ​c u l t u r a l t r a n s f o r m a t i o n towards a human society that is rooted in freedom, harmony, equality, honesty, sharing, cooperation, ecological restoration and reverence for all Life.

  .subheader What is the longer‐term vision for global impact?
  Please refer to the annexed document <b>The Global Transition Plan</b>.
  .subsubheader Our Common Ground
  %p Recognising and honouring o​ur <i>common ground</i> ​is essential to building unity. Our common ground is where all our shared values, needs and aspirations converge in clear resonance.
  %p The four suggested guidelines for our common ground are:
  %ul
    %li ​T​he Universal Declaration of the Rights of Mother Earth
    %li ​T​he Universal Declaration of Human Rights
    %li ​T​he Universal Declaration on the Rights of Indigenous Peoples · ​T​he Earth Charter

  .subsubheader This global citizens’ initiative is founded on the following recognitions:
  %ol
    %li The current national and international political structures are not serving the welfare of All Our Relations and our Mother Earth. True democracy does not exist since we, The People of Mother Earth, are systematically deprived of the right to choose wise and intelligent political reform. Evidently, the entire global political arena has been subjugated to banking and corporate interests. For more than three decades the corporate­political bodies have clearly demonstrated that they are utterly incapable of effectively addressing the urgent ecological, social and economic crises we are facing.
    %li To effectively and rapidly alter our collective course of impending ecocide we, The People, must reclaim and fundamentally redesign our political and economic structures.
    %li We are deeply aware of the fact that ­ given our wealth of indigenous wisdom, social innovations, ecologicalsolutions and alternative political&economic models - <b>we already have the knowledge, skills, tools, technology, resources, mentors and living examples to create a more beautiful and abundant world for everyone.</b> Therefore we, as an open, inclusive, collaborative and well-informed collective, are taking direct action to bring all solutions and alternative possibilities to the s​tatus quo and to the forefront of public awareness. (see questions 15 & 16)
    %li Most governments and the UN are well aware of the numerous existing solutions. For the past 15 years​The Global Ecovillage Network (GEN) has had United Nations ECOSOC consultative status and has represented at regular briefing sessions at UN Headquarters.​T​h​is network a​lone​connects to countless, proven successful ecological, social and economic solutions that are readily available right now.2​ Furthermore, GEN and their educational extension, Gaia Education, clearly outline and provide the educational support necessary to help guide and implement these solutions. Yet, despite GEN’s close relationship with the UN they are still struggling for financial support and public exposure.

  .subsubheader Now, two questions for you:
  %p Why does the UN not boost GEN’s knowledge and skills base to the forefront of international affairs - not to mention the thousands of other solutions-based groups?
  %p How does the UN justify organising a Solutions Summit t​o make visible, and lift­up exceptional innovators, technologists, engineers, scientists, and others, when empowering and transformative grassroots solutions such as Permaculture Design, Transition Towns, Ecovillages, Direct Democracy, Circular Economies etc. have been globally visible and active since the turn of the millennium? This fact clearly confirms the above points 1 & 2.

  .subsubheader Our Collective Intention to Collaborate with Existing Political Bodies
  .quote The urgent challenge to protect our common home includes a concern to bring the whole human family together to seek a sustainable and integral development, for we know that things can change... We need a conversation which includes everyone, since the environmental challenge we are undergoing, and its human roots, concern and affect us all. We require a new and universal solidarity.
  .quote-author - Pope Francis
  Ultimately, we recognise that the UN is made up of people. And we trust that most of these people have the same benevolent intentions as did the very founders of the United Nations. Apparently, due to infiltrated subversive influences, most of these intentions are systematically undermined from attaining their highest expression. Thus, a United Earth is coming to the UN headquarters (provided this application is accepted) to personally invite all benevolent delegates ­­ and especially The People they represent ­­ to join forces, and for us to collectively transition￼towards entirely new social structures that can truly facilitate our highest cooperative potential into manifestation.

  .subsubheader Financial Mobility
  %p A United Earth, in partnership with Mother Earth Trust​, is creating a G​lobal Transition Fund t​o the value of $1 trillion USD based on the issuance of a new Earth Dollar. The Earth Dollar uses a hybrid cryptocurrency blockchain­based technology to protect natural capital assets under a global common "World Heritage Sanctuary Program" ­ the natural capital assets in turn back the value of the Earth Dollar. Hence, by design, the usage of the Earth Dollar contributes towards bioremediation and economic transitioning. Over $1 trillion dollars of natural capital assets have already been pledged to support the Global Transition via the Earth Dollar. Since the Earth Dollar value is enhanced by the amount of users, we are inviting all benevolent governments and intergovernmental organisations such as the UN to endorse the Earth Dollar. The Earth Dollar white paper is available for viewing by the selection committee upon written request.
  %p Community currencies such as the Swiss WIR have been extremely successful in adding resiliency and in growing the Swiss economy. The Swiss WIR, which has existed for 75+ years, does $6.7 billion in transaction volume per annum with a total of $3.1 billion in assets.
  %p The Global Transition Fund will provide the financial fluidity to finance our Global Transition, ​by way of relevant education and implementing existing grassroots solutions so that the basic human rights of access to clean water, healthy food, sustainable shelter and renewable energy are met by all humanity by 2020. Furthermore, this fund will secure a U​niversal Basic Income f​or all people above the age of 16 years for the duration of our collective transition​a​s we work together to restore our biosphere, our communities and our well­being.
  %p All financial transactions through the Global Transition Fund will be completely transparent and openly viewable on the United Earth digital platform (see below). Funding allocations will be determined through d​irect­democratically​elected councils specialising in their particular field of cultural transition and ecological restoration.

  .subsubheader A Global Network of Transition Research & Education Centres
  %p As Humanity collectively chooses to transition into a culture of peace, equality, cooperation, and abundance, it is necessary to describe what this evolutionary culture looks like, how it functions and how we progressively transition from here to there through collaboration, sharing, innovation and our collective commitment. We believe ecological restoration is our first collective priority. Case studies show that when the ecology is restored our social well­being and local economies naturally revive and thrive. Accordingly, one fundamental objective of the
  %p United Earth Alliance is to inspire and facilitate the construction of a global network of Transition Research & Education Centres (TRECs) that specialise in transition research & development while providing resources & education for the locally­adapted dimensions of:
  %ul
    %li Food production
    %li Water management
    %li Ecological restoration
    %li Renewable energy
    %li Circular and gift economies
    %li Equality­based and participatory governance
    %li Conscious communication, decision­making and conflict transformation
    %li Appropriate technologies
  %p TRECs are essentially social and ecological innovation laboratories for the ongoing betterment of human and ecological health and harmony by gathering all technologies, data, practices and strategies to support local and bioregional transition initiatives. T​hrough TREC, local groups can easily connect to any locally available mentors, trainers, facilitators, mediators, etc. T​hrough our digital resource mapping engine all TRECs are linked to a real­time global network collaboration, sharing research and developments to be implemented at the local level.

  .subheader The United Earth and Noomap Technology
  %p The planet is being invited into a global mind shift and a whole systems transformation. A United Earth operates primarily through the open­source digital platform as a medium for coordinating, mobilising and taking practical action on both the global and the local level. A United Earth is co­developing an evolutionary social and digital technology called Noomap that uses a holonic mapping innovation to co­create a G​lobal Synergy Engine​which will connect people, organisations, networks and governments together for co-creation on an unprecedented scale. The system maps projects, intentions, resources, people, et al and provides systems to share resources and ideas for creating a more sustainable world. In short, to help facilitate this cultural quantum leap, Noomap catalyzes a global synergy engine for co­c​reating the world we know is possible.
  %p The current internet - because of its approach to data, user experience of that information and search engines ­ naturally separates us into silos where people, passions, projects, resources (and more) cannot see one another and collaborate to their highest potential. This fragmentation, isolation and disorder is a natural outcome of the system which has created it.
  .quote No problem can be solved from the same level of consciousness that created it.
  .quote-author - Albert Einstein

  %p
    Noomap resolves these challenges by providing an online experience that is like no other currently available. We are developing an online platform for synergy, collaboration, crowd co­c​reation, resource sharing, collective intelligence, decision­making, and more. The global synergy engine will reveal the solutions emerging from around the world and, equally as significant, consequently catalyse and facilitate our planetary community, uniting and cooperating together to resource and implement these solutions. The United Earth Noomap solution is comprised of three main branches:
    %b U​nity, Collaboration and Education.​

  .subheader Unity
  .quote Our task is to unite humanity throughout the world.
  .quote-author - Nelson Mandela (First meeting of T​he Elders)​
  %p A universal platform to gather, host and showcase all of the people and groups from around the world who are willing to unite and collaborate for a whole­systems cultural transformation. The platform will host an evolutionary social network and provide a planetary overview of all events related to our Global Transition including a​public media platform that provides all global and local (uplifting!) news ­ directly from the source and peer reviewed.

  .subheader Collaboration
  .quote Non-cooperation with evil is as much a duty as is cooperation with good.
  .quote-author - ­​Mahatma Gandhi
  %p The United Earth Noomap solution includes a directory of groups, communities, organisations and networks categorised according to their areas of focus. Individuals and groups that connect globally and locally can instantly make use of the cutting­edge communication, coordination and collaboration technologies that we are gathering. The global synergistic resource map also profiles and intrinsically matches every person who wishes to share any ideas, visions, services and/or goods with the collective. The platform can essentially “gamify” change by giving everyone an avatar and presenting a gaming interface for change. This is designed especially to draw the youth.

  .subheader Education
  .quote Education is the most powerful weapon which you can use to change the world.
  .quote-author - Nelson Mandela
  %p
    %b Education is the primary vehicle for change.​
    We are, therefore, creating a solutions portal to a Noomap-Holonic-wiki directory that converges the global databases, cataloguing all information related to transition research and development. The Holonic format produces not only a reservoir of information but opportunities for collaboration and crowd creation that are unavailable in the current internet environment. Because Noomap is being designed and crafted from a whole systems perspective and meta­level conception, the United Earth Wiki will be a multi-level opportunity for novel exchanges. From ecological solutions to indigenous knowledge & wisdom to social innovations to alternative political & economic models, this globally co­created directory will channel open­source tools, designs, videos, forums, e­workbooks, articles and case studies for the complete range of social, economic and ecological conditions.
The United Earth Noomap solution creates data visualizations that can be filtered in many different ways, providing a unified and real­time look at the current state of planetary health, the vital signs. The data visualization would contain all planetary boundaries.
In collaboration with the global network of Transition Centres all local workshops, seminars, conferences and actions will be announced and coordinated through this platform.
Finally, as living proof of our existing solutions we have provided a variety of links for each of
the SDGs, and some additional goals. Ultimately, our challenge is not finding the solutions to our problems ­ the Noomap vision and technology also has the potential to provide a unified governance platform based on its architecture and functionalities ­ it’s about creating a new form of supra­national, benevolent governance that actually has the wisdom and foresight to implement what we already have and know.
5. In what way is the solution unique from other approaches that exist in this space? What is the new perspective or methodology?
.quote ... systems thinking is based on the fundamental shift of perception from the world as a machine to the world as a living system.
.quote-author Fritjof Capra
In today’s world of information­saturation, our worldviews, understanding and behaviour patterns are primarily shaped and influenced by our globalised education system, the corporate media and our social conditioning. Thus, we can clearly trace the root cause of our current ecological and cultural dysfunction to the very social paradigms and systems that we are born into.
The United Earth solution is unique in that it:
a) highlights and addresses the root of our planetary problems
b) brings all the spaces together and addresses them ­ not as isolated fragments, but as an integrated whole­systems solution.​Furthermore, through this whole­systems approach we will address “spaces” far beyond the SDGs ­ especially those that are questionable (see below).
c) is inherently solutions­based. All we need to solve the world’s problems is to mainstream the solutions that we already have. The United Earth platform is designed specifically for this purpose.
￼You never change things by fighting the existing reality.
To change something, build a new model that makes the existing model obsolete.
― R​ . B u c k m i n s t e r F u l l e r
The blatant reality is that we already have the new models. The stark reality is that we now have to transcend the obsolete systemic obstacles that prevent them from being put into practice. To truly create a life­sustaining human culture we will need to effectively phase out all social and ecological hazards such as political mismanagement, corporate greed, financial enslavement, industrial agriculture, the factory farming of animals, etc. Today whole­systems design and thinking are at the heart of all truly transformative innovation. Certainly this is well understood by all the ecological restoration & stewardship, appropriate technology and quantum physics communities around the world. Thus, we find it questionable why this application separates the spaces? And how do the SDGs benefit Indigenous Cultures and Lands? If the solution for one space is truly effective and viable it must be good for all; such is the nature of our
interconnected existence.
The new perspective or methodology:
The United Earth Noomap digital interface solution represents a clear phase shift in how we experience the World Wide Web and how it experiences itself. Our technologies have been conceived and designed as evolutionary operating environments that mimic nature and the radical efficiency, novelty and depth of a whole­systems approach to living in harmony with one another and all of life. The database is comprised of Holons and the interface is fractal. This means there is not one instance online right now that can accomplish what Noomap can naturally.
Marshal McLuhan once said that we become what we behold... we shape our tools and afterwards our tools shape us. Noomap is a tool that will reveal a literal World Wide Web of interconnection and interdependence, completely altering the way we perceive information, each other and collaboration. It will literally “log on” its users to experience their unity, and will help facilitate a collective shift in our consciousness, our perspectives and our hearts.
Now, two questions about SDGs 7 & 8 for you :
The word “sustainable” has become highly ambiguous and distorted. Initially “sustainable” pointed to what is healthy for The People and our biosphere, that can continue indefinitely into the future. Today “sustainable” is often used suggesting the same connotation, but what is actually referred to is the sustainability of economic growth rather than ecological and social responsibility. This word is now avoided altogether by many ecologists and environmental
￼activists.
SDG # 7. Ensure access to affordable, reliable, sustainable & modern energy for all.
politics.
­ Professor Mark Z. Jacobson (Stanford)
￼Most of the technology needed to shift the world from fossil fuel to clean, renewable energy
￼already exists. Implementing that technology requires overcoming obstacles in planning and
￼￼￼By not mentioning “renewable” or “clean” the creators of these goals demonstrate their lack of
￼awareness of what our real priorities and readily available solutions are. It seems, through your
￼strategic wording, that you are in actual fact opening the door for nuclear energy? Furthermore,
￼we would like to invite all policy­makers to consider the new paradigm that renewable energy
￼can be provided free of charge for everyone. Separating SDG #7 (and most other SDGs) from
￼SDG #13 reflects a disturbing lack of understanding of whole­systems thinking.
SDG # 8. Promote sustained inclusive & sustainable economic growth full & productive employment & decent work for all
Society must cease to look upon "progress" as something desirable. `Eternal Progress' is a nonsensical myth. What must be implemented is not a `steadily expanding economy,' but a zero growth economy, a stable economy. Economic growth is not only unnecessary but ruinous.
­ Alexander I. Solzhenitsyn
Again, by promoting “sustainable economic growth” as a goal the SDG creators reveal their profound lack of whole­systems solutions awareness, which seriously brings into question their qualification as organisers of a Solutions Summit. It appears the UN and the organisers of the summit are caught up in in old paradigm thinking and are subject to corporate and banking influences. Nevertheless, we cordially invite you all into the new paradigm, where we already have all the knowledge, tools, and skills to co­create an abundant human culture that is based on resource sharing and circular and gift economies.
Economic localisation is the key to sustaining biological and cultural diversity – to sustaining life itself. The sooner we shift towards the local, the sooner we will begin healing our planet, our
communities, and ourselves. – H​elena Norberg­Hodge
We begin this co­creation by securing a basic income for everyone to allow for a global transition period while every person is given the financial freedom, time and support to reconnect with their true passion, talent and gift to the world. Moreover, during this transition
￼time all corporations and businesses will be guided and supported to become fully ecologically and socially responsible.
6. How far has your team progressed in the development of this solution? How do you measure your progress and methodological rigor?
We have the knowledge and technology to provide for all and to reduce our impacts on the environment. The emergence of a global civil society is creating new opportunities to build a democratic and humane world. Our environmental, economic, political, social, and spiritual
challenges are interconnected, and together we can forge inclusive solutions.​ ­ The Earth Charter
The beauty, power and benefit of the United Earth Whole­Systems Solutions (uniting and collaborating on a planetary scale) is that we are consciously inviting and harnessing the unfathomable wealth of knowledge, experience and intelligence of our entire human collective. In this context our “team” verily consists of every single person and group on this planet that is working for a brighter future for all. And, as highlighted in question #4, and as indicated in T​he Earth Charter​quote above, within this global team we already have countless effective and living examples of solutions. (Refer to questions 16 & 17)
The progress of this global movement is very well known and understood at the grassroots level. Unfortunately, all these solutions are strategically omitted from all political dialogue as well a s t h e m a s s m e d i a . T h u s , o n e m i g h t a r g u e t h a t i t m a y w e l l b e e a s i e r t o m e a s u r e o u r l ​a c k ​o f possible​progress rather than our current methodological rigour. Invariably all of our solutions are not power motivated nor for profit, but rather (r)evolve around healing the Earth and empowering The People ­ and are thus contrary to the globalising corporate­political agenda. As a consequence, true innovation and cultural evolution has been systematically undermined by financial limitation, bureaucratic administration and legal restrictions. Ultimately, if we have wise and benevolent governing institutions that truly hold the welfare of The People and The Planet at heart, we can collaboratively address all the ecological, social, political and economic crises that we are facing.
7. What resources are most needed for the solution to scale and have considerable impact? What are the short­term, medium­term and longer­term needs?
.quote ...the single largest pool of untapped natural resources in this world is human good intentions that are never translated into actions.
.quote-author Cindy Gallop
￼
￼The United Earth Whole­Systems Solution invites all people who feel compelled to help co­create a free, just and abundant world, to unite around this collective intention, and to share their knowledge, skills, tools, ideas, passions, visions and resources throughout our United Earth Family.
The short­terms needs are offices and finances to develop and run the United Earth Noomap platform and public exposure to harness the good intentions of all concerned and caring citizens of Earth. While we trust that these needs can be met by all United Earth proponents, we do not discriminate where our financial support comes from as long as it is clearly understood that there are no strings attached.
The snowball of intentional unification and conscious collaboration has begun and thus, fuelled by the forces of love, harmony, trust, generosity and partnership, will we pool all our resources, intelligence and co­creativity to realise our collective vision together. See below for an integrated overview of our objectives and visions for our Global Transition.
*******************
In closing we wish to state that, since this application is submitted on behalf of all concerned and peace­loving citizens of Earth, should you decide to refuse it, we ask that you extend the courtesy of giving us the reason(s) why?
Thank you kindly for your wise consideration, The United Earth Alliance
*********************
Annex: A United Earth would like to share our objectives & visions for your consideration:
The United Earth Objectives
When faced with a radical crisis, when the old way of being in the world, of interacting with each other and with the realm of nature doesn’t work anymore, when survival is threatened by seemingly insurmountable problems, an individual life­form — or a species — will either die or
become extinct or rise above the limitations of its condition through an evolutionary leap. – E​ckhart Tolle
￼Note: Each of the Objectives & Milestones will be marked by a Global Transition Festival ­ the first of which is scheduled to coincide with the COP21 in Paris, France on December 5th & 6th, 2015.
Objective 1.​To promote planetary unity among all peace­loving and life­affirming people and groups to work together around our common intention: To co­create a w​hole­systems​cultural transformation towards a human society that is rooted in freedom, harmony, equality, honesty, sharing, cooperation, ecological restoration and reverence for all Life.
Note: Uniting is essentially a choice that we each need to make for ourselves and as a collective. Once the vast majority of humanity have agreed to unite around our common intention we will have actualised the vital first step towards our conscious collective cultural shift.
Objective 2.​Facilitate the organisation of our growing planetary network of people and groups into particular areas of interest and transition, pooling our knowledge, skills, experience and tools for mass­scale, decentralized collaboration and whole­systems transformation. Accordingly, one top priority is to further develop and refine our The United Earth Noomap Global Synergy Engine to facilitate our global collaboration, coordination and resource mapping and sharing.
Objective 3.​Establish a Global Transition Fund to provide unrestricted financial mobility to i m p l e m e n t o u r c o l l e c t i v e l y d e s i g n e d G​ l o b a l T r a n s i t i o n P l a n .
A Global Transition Plan ­ purely an example
Note: A United Earth is just being born. Our family is still incomparably small to what it will soon become. What follows is an example of what​o​ur Global Transition Plan might look like. While we aspire to reflect some of the most visionary, innovative and pragmatic ideas, views and transition strategies on the planet today, we recognise that we are merely a spark to the flame of planetary transformation that needs to be co­created by all of us, equally and together.
If you have built castles in the air, your work need not be lost; that is where they should be. Now put the foundations under them.
­ Henry David Thoreau
With our human resources organised and primed for action, our digital and mobile collaboration and communication tools functioning optimally, and abundant finances at­the­ready, we collectively and intentionally enter a well­designed, progressive Global Transition Plan. We imagine that by this time most of the world’s governments will have aligned (willingly or unwillingly) with the will of The People and thus will be fully supportive and integrated into our collaborative efforts.
The Global Transition Plan will be carried out in three primary phases: Phase 1 (2016 ­ 2020)
￼● Mobilise and deploy teams of permaculturists, transitioners, ecovillagers, natural builders, community builders, sociocracy & non­violent communication educators and other relevant experts to collaborate with local NGO's using and improving existing tools and infrastructures to ensure the basic human needs of healthy food, clean water, comfortable shelter and clean energy are met by everyone ­ throughout the transition phase and beyond into abundance for all.
● SecuringaU​niversalBasicIncome​foreveryhumanbeing16yearsandolder.
● Halving the work­week hours as many jobs will be obsolete due to their ecologically
harmful nature.
● Sharing the most relevant work of growing food and providing vital goods and services.
● Creating a temporary international system of social organisation that is based on mutual
support, resource sharing and transparent, direct­democracy for the purposes of facilitating, coordinating and synergising our collective transition at the global and local levels.
● Mainstreaming relevant education around ecological awareness, localisation, zero waste, conscious consumerism, Natural Law, voluntary simplicity, planetary boundaries & natural family planning, re­skilling etc. through the Internet and the television. Most people become deeply inspired to self­educate when they realise the monumental wealth of inspiring and practical knowledge that is readily available.
● Implement Phase 1 ecological restoration and stewardship strategies:
1. Halting all environmentally destructive activity
2. Urgently phasing out animal factory farms
3. Transitioning industrial agriculture into large scale agro­ecological methods
4. Up­scaling urban and sub­urban food production
5. Maximising low­input, land­based water retention
6. Up­scaling renewable energy and appropriate technology research, development
and distribution. (A booming bicycle industry!)
7. Urgently down­scaling fossil fuel extraction and consumption
8. Gathering, sorting, re­cycling and up­cycling all land and water­based waste.
Phase 2 (2021 ­ 2025)
● Constructing and retrofitting urban, sub­urban and rural Transition Research & Education Centres (TRECs).
● Creating Cultural Development Centres (CDCs) where people can find resources and guidance in adapting their skills and interests towards serving our Global Transition. While TRECs focus more on ecological and economic dimensions, CDCs focus more on the cultural and social dimensions, yet both are holistic and interconnected. CDCs provide open labs for people to explore and develop their passions, talents, creative expression, communication skills and self­awareness.
● Creating self­organising, zero waste, resilient and vibrant communities, villages and towns. Voluntarily re­populating the country­side that is flourishing with activity and culture while bringing city populations down to sustainable levels.
● Elders are respectfully re­integrated into society, valued for their contributions to life, their wisdom will be sought out.
● Promoting cultural and spiritual diversity and inter­cultural exchange. ​Traditional and indigenous skills, crafts and knowledge systems are preserved, restored and integrated.
￼● Developing thriving zero­growth, local, circular and resource­based economies.
● Developing appropriate technology that raises our quality of life and enhances our
biosphere. Transport becomes 100% clean and international product exchange is limited
to a matter of necessity.
● All production becomes environmentally sound, free of any toxic ingredients. Products
are designed for durability,repairability and fully recyclable
● Designing and creating inspiring and free learning environments for children.
● Implementing traditional, indigenous and modern knowledge, as well as taking into
account the wisdom of the ages from all four directions (four colors of humanity)
● Implement Phase 2 of ecological restoration and stewardship strategies:
○ Building water­retention landscapes wherever appropriate
○ Implementing natural water purification strategies
○ Implement anti­desertification strategies and commence re­greening degraded
landscapes and deserts
○ Wild animal ­ especially sea creature ­ populations are actively restored
○ Create urban and sub­urban food forests
○ Creating a global­to­local network of heirloom seed­banks that freely provide a
vast variety of seeds for all
○ Eliminating all genetically contaminated organisms
○ Eliminating all toxic materials and residues with the help of fungi, Effective
Micro­organisms etc.
○ Phasing out all fossil fuel and minimizing mineral extraction and consumption
○ 100% renewable energy
○ Biogas production ­ from household up to urban­scale
Phase 3 (2025 ­ ... )
Aspirations that we continue to cooperatively work towards using the wisdom, tools and skills that we have gathered... as prophesied by many cultures)
● All life and the miracle of Creation is celebrated. We have learned how to see, hear and act in a sacred manner.
● All political boundaries are dissolved, creating one immensely diverse, yet undivided Human Family
● All people share equal rights and status and women and men are equal partners in the entire flourishing domain of human affairs.
● All children are safe anywhere they want to go.
● In full conscious co­creation with Nature our biosphere thrives, providing abundant food for all the Earth’s creatures. All rivers and streams are drinkable and run crystal clear.
● Recreation and work become synonymous; with ample time for relaxation, playing with the children and building meaningful relationships.
● money or material wealth are seldom thought or spoken about.
● arts and culture flourish like never before.
● technology has developed to responsibly provide for all our communications, travel,
physical comforts and conveniences.
￼And so our children will grow and live happy and free in a vibrant, diverse, uncomplicated, humane and abundant world. And as they grow they will begin to comprehend the profound significance of our truly epic and timely global collaboration to consciously and collectively rise from the ashes of domination and destruction. Yet they will only be able to imagine what an incredible privilege it was for u​s​to be alive on planet Earth during this fleeting window of astronomical opportunity.
Another world is not only possible, she is on her way. On a quiet day, I can hear her breathing.​
– Arundhati Roy
Question 16 & 17 integrated
As a clear demonstration of the fact that we already have all the necessary solutions we need to create a peaceful, free, cooperative and abundant world, we have provided some links to websites, articles and videos for each of the 17 SDGs. Still, most SDGs can and need to be recognised as inter­related, thus we have chosen to bunch the SDGs that are most clearly inseparable. Unfortunately due to time constraints we have only had time to make a list that merely provides an indication. If we were to truly provide all existing solutions the selection committee would probably be reading the list well into the Summit itself.
Ecological Restoration and Stewardship
● Goal 2. End hunger, achieve food security & improved nutrition & promote sustainable agriculture
● Goal 6. Ensure availability & sustainable management of water & sanitation for all
● Goal 7. Ensure access to affordable, reliable, sustainable & modern energy for all
● Goal 13. Take urgent action to combat climate change & its impacts
● Goal 14. Conserve & sustainably use the oceans, seas & marine resources for
sustainable development
● Goal 15. Protect, restore & promote sustainable use of terrestrial ecosystems,
sustainably manage forests, combat desertification, halt & reverse land degradation & halt biodiversity loss
￼Websites
http://www.permaculture.org/
￼￼￼Books & Articles Permaculture: A Designers' Manual
￼￼￼Videos Inhabitat:
￼
￼￼￼￼￼http://www.transitionnetwork.org/ http://gen.ecovillage.org/ http://www.gaiaeducation.org/
http://www.context.org/ http://www.agroecology.org/
http://www.groundswellinternational. rg/
http://www.whatifwechange.org/mag azine/index.php
http://climatesafety.info/faq/100­rene wables­is­possible/
http://www.cyberfarmsystems.com/
http://www.neweconomics.org /publications
ourheartgardens.com
￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼by B​ill Mollison
The One­Straw Revolution b​y Masanobu Fukuoka
Mycelium Running: How Mushrooms Can Help Save the World b​y P​aul
Stamets
Rainwater Harvesting for Drylands (Vol. 1): Guiding Principles to Welcome Rain into Your Life And Landscape b​y B​rad Lancaster
Sepp Holzer's Permaculture: A
Practical Guide to Small­Scale, Integrative Farming and Gardening
by S​epp Holzer
The Hand­Sculpted House: A Philosophical and Practical Guide to Building a Cob Cottage: A Practical Guide to Building a Cob Cottage
by I​anto Evans
The Humanure Handbook: A Guide to Composting Human Manure
by J​oseph C. Jenkins
How to Grow More Vegetables: And
Fruits, Nuts, Berries, Grains, and Other Crops Than You Ever Thought Possible on Less Land Than You Can Imagine
by J​ohn Jeavons
The Renewable Energy Handbook: A Guide to Rural Independence, Off­Grid and Sustainable Living
by W​illiam H. Kemp
Critical Path by Buckminster Fuller
http://www.villagedesign.org/vdi_writi ngs.html#articles
￼￼￼https://www.youtube.com/watch?v=h 1x7DQp9ysc
Grassroots: Climate Reality Project
https://www.youtube.com/watch?t=1 23&v=y0­J8NGM_v4
Antarctica: how to save it:
http://www.videojug.com/film/how­to­ save­the­south­pole­antarctica
Cybernated Farm Systems
https://www.youtube.com/watch?v= S32KU9qQ5fs
￼￼￼￼￼￼￼￼￼New Economics: bringing balance and abundance for all
o
￼● Goal 1. End poverty in all its forms everywhere
● Goal 8. Promote sustained inclusive & sustainable economic growth, full & productive
employment & decent work for all
● Goal 10. Reduce inequality within & among countries
￼￼￼￼Websites & Links
http://www.neweconomics.org/ http://www.localfutures.org/ http://www.basicincome.org/
http://www.sharing.org/what­is­econ omic­sharing/political­economy­of­sh
aring
http://www.freeworldcharter.org/en
￼￼￼￼￼￼￼￼￼￼￼Books & Articles
Sacred Economics: Money, Gift and Society in the Age of Transition Book by Charles Eisenstein
Agenda for a New Economy by David Korten
Occupy Worldstreet by Ross Jackson
Gaian Economics: Living Well Within Planetary Limits b​y J​onathan Dawson
The Moneyless Manifesto by Mark Boyle
The End of Money and the Future of Civilization by Thomas H. Greco Jr.
Confessions of an Economic Hitman by John Perkins
This Changes Everything by Naomi Klein
The Best That Money Can't Buy by Jacque Fresco
￼￼￼Videos NEF: 21 hours
https://youtu.be/580VyI6hFmo?t=12
Basic Income:
https://www.youtube.com/watch?v=z ru79jcVTt4
Free World Charter:
https://www.youtube.com/watch?v=r vDKTRgoSS8
Positive Money:
https://www.youtube.com/watch?v=I _QC15C7o4A
Complementary Currencies
https://youtu.be/GvknVQA4eoM
￼￼￼￼￼￼￼￼￼Society and Culture
￼● Goal 3. Ensure healthy lives & promote well­being for all at all ages
● Goal 4. Ensure inclusive & equitable quality education & promote lifelong learning
opportunities for all
● Goal 5. Achieve gender equality & empower all women & girls
Goal 12. Ensure sustainable consumption & production patterns
Goal 16. Promote peaceful & inclusive societies for sustainable development, provide access to justice for all & build effective, accountable & inclusive institutions at all levels
● Goal 17. Strengthen the means of implementation & revitalize the global partnership for sustainable development
￼●
￼●
￼￼￼￼Websites
http://www.transitionnetwork.org/ http://gen.ecovillage.org/ http://www.gaiaeducation.org/ www.collective­evolution.com
￼￼￼￼￼￼￼￼Books & Articles
Social Key: Beyond You and Me, editors Kosha Joubert and Robin
Alfred
A New Earth: Awakening to Your Life’s Purpose​b​y Eckhart Tolle
Conscious Evolution: awakening the power of our social potential by Barbara Marx Hubbard
The Four Agreements: A Practical Guide to Personal Freedom​by Don Miguel Ruiz
￼￼￼￼￼￼Videos
How to change the World
http://www.videojug.com/film/how­to­ change­the­world?channel=scribble
Earth Guardians:
https://www.youtube.com/watch?t=9 3&v=suP­vX4R8GI
AERO:
https://www.youtube.com/watch?t=1 07&v=mwqdcSwznTY
Spiral Dynamics:
https://www.youtube.com/watch?v=k iKoY_QHMNE
One Community:
https://www.youtube.com/watch?v=g vxQ0ylmetc
International Children:
https://www.youtube.com/watch?v=i aP01LEr31s
The Venus Project:
https://vimeo.com/103697917
One People One World:
https://www.youtube.com/watch?v=g LrFf2kaiLA
End Ecocide:
https://www.youtube.com/watch?v=Il 24a­5Wegk
Video from Earth Charter Int.:
https://www.youtube.com/watch?v=b _xj1JrpLhs&feature=youtu.be
￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼
￼Built Environment
● Goal 9. Build resilient infrastructure, promote inclusive & sustainable industrialization & foster innovation
● Goal 11. Make cities & human settlements inclusive, safe, resilient & sustainable
￼￼￼￼Websites
www.naturalbuilding.com
http://www.sanbi.org/biodiv ersity­science/science­poli cyaction/mainstreaming­bi odiversity/ecological­infras tructure
http://earthship.com/
￼￼￼￼￼￼￼￼￼￼Books & Articles
The Whole Building Handbook: Healthy Buildings, Energy Efficiency, Eco­cycles and Place
by V​aris Bokalders
Beauty Redeemed: Recycling Post­Industrial Landscapes,​
Ellen Braae
￼￼￼￼￼Videos Noomap:
https://vimeo.com/97462771
Free and Real:
https://www.facebook.com/video.php ?v=991937790836557&video_sourc
e=pages_finch_trailer
The Sustainable City:
http://diamond­developers.ae/the­sus tainable­city
￼￼￼￼￼￼￼17. Share with us your motivation(s) for applying to be a part of the inaugural Solutions Summit. The motivation of a United Earth to be participating in the inaugural Solutions Summit is twofold: 1. To highlight the fact, both to the people at the summit and to the world at large, that we already have a vast wealth of tried­and­tested solutions for all the problems humanity is facing. For the welfare of humankind and our planetary home it is vital that we recognise the fact that the crises we are facing are not for a lack of solutions and alternatives, but for a lack of political will and capacity to implement them. 2. We are here to take advantage of this Solutions Summit at the world's most recognised international political platform to invite all governments, organisations, representatives­ especially and The People they represent­ to unite and collaborate for a whole­systems, solutions­based transformation.
