@mixin transform($val)
  -webkit-transform: $val
  -moz-transform: $val
  -ms-transform: $val
  transform: $val

@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'colors'
@import 'abstract'
@import 'landing_page'
@import 'fonts'
@import 'menu'
@import 'un_application'
@import 'signup'
@import 'user_settings'
@import 'actions'
@import 'pages'
@import 'social-share-button'
@import 'scaffolds'
@import 'font-awesome'

%parallax-layer
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.parallax-container
  position: absolute
  top: 0
  width: 100%
  perspective: 1px
  overflow-x: hidden
  overflow-y: auto
  height: 100vh

.parallax-foreground
  @extend %parallax-layer
  transform: translateZ(0)
  top: 90px
  width: 100%


.ue-container
  width: 924px
  margin: 0 auto
  max-width: 100%

.success
  margin: 20px 0
  color: $green
.notice
  margin: 20px 0
  color: $accentColor

.share-buttons
  position: fixed
  left: 0
  top: 100px
  width: 20px
  z-index: 100

.arrow_box
  position: relative
  top: 190px
  width: 50px
  height: 50px
  background: $green
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.80)

.arrow_box:after
  left: 100%
  top: 50%
  border: solid transparent
  content: " "
  height: 0
  width: 0
  position: absolute
  pointer-events: none
  border-color: rgba(136, 183, 213, 0)
  border-left-color: $green
  border-width: 50px
  margin-top: -50px
//box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.80)

.ue-collapse
  height: 0
  overflow: hidden
  -webkit-transition: height 0.5s
  transition: height 0.5s

[data-collapse]
  cursor: pointer
  @extend .fa
  @extend .fa-expand
  text-decoration: none
  &:before
    font-size: 15px
    margin-right: 10px
    text-decoration: none

  &.in
    @extend .fa-compress

%ue-inputs
  label
    @extend %fontLight
    font-weight: normal
  input, textarea
    border-radius: 3px
    width: 600px
    max-width: 100%
    margin-right: 20px
    &[type=text]
      -webkit-appearance: none
      -moz-appearance: none
      border: 2px solid $accentColor
      box-shadow: 0px 0px 3px 0px $accentColor
    &[type=checkbox]
      width: 15px
      height: 15px
    &[type=submit]
      float: right
      width: 200px
      margin: 20px auto
  textarea
    -webkit-appearance: none
    -moz-appearance: none
    border: 2px solid $accentColor
    box-shadow: 0px 0px 3px 0px $accentColor

input[type=submit]
  @extend %button
  border: none
  background-color: $blue

body
  @extend %fontRegular
  font-family: 'Montserrat'
  overflow: auto
  margin: 0
  height: 100%
  width: 100%


@media screen and (max-width: $mobile)
  .ue-container
    padding: 0 10px !important