@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'colors'
@import 'landing_page'
@import 'fonts'
@import 'menu'
@import 'un_application'
@import 'signup'
@import 'user_settings'
@import 'actions'
@import 'pages'
@import 'social-share-button'

%parallax-layer
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.parallax-container
  position: absolute
  top: 0
  width: 100%
  perspective: 1px
  overflow-x: hidden
  overflow-y: auto
  height: 100vh

.parallax-foreground
  @extend %parallax-layer
  transform: translateZ(0)
  top: 90px
  width: 100%


.ue-container
  width: 924px
  margin: 0 auto
  max-width: 100%

.success
  margin: 20px 0
  color: $green
.notice
  margin: 20px 0
  color: $accentColor

%button
  border-radius: 4px
  margin: 6px 0
  padding: 5px 10px
  text-align: center
  color: white
  text-transform: uppercase
  cursor: pointer
  text-decoration: none
  &:hover
    color: white
    text-decoration: none

.accent-button
  @extend %button
  display: block
  width: 250px
  height: 50px
  line-height: 50px
  padding: 0 !important
  background-color: $accentColor

.share-buttons
  position: fixed
  left: 0
  top: 100px
  width: 20px
  z-index: 100

input[type=submit]
  @extend %button
  border: none
  background-color: $blue

body
  @extend %fontRegular
  font-family: 'Montserrat'
  overflow: auto
  margin: 0
  height: 100%
  width: 100%


@media screen and (max-width: $mobile)
  .ue-container
    padding: 0 10px !important