%landing-header
  font-size: 35px
  margin-bottom: 13px

%landing-content
  font-size: 21px
  opacity: 0.7

.landing__background
  position: fixed
  background: black
  width: 100%
  height: 100vh
  z-index: -10

.header
  position: relative
  height: 720px
  width: 100%
  text-align: center

  &__shade
    position: absolute
    width: 100%
    height: 720px
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.0)),to(rgba(0,0,0,1)))
    z-index: 2

  &__bgvid
    position: relative
    max-width: 100%
    left: 50%
    background: url(bg.jpg) no-repeat
    background-size: cover
    transform: translateZ(-2px) scale(4) translateX(-11%) translateY(-20%)


  &__prophecy
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    color: white
    z-index: 3

    &__header
      @extend %landing-header


    &__content
      @extend %landing-content
      margin-bottom: 13px

    &__footer
      font-size: 15px
      opacity: 0.5

  &__logo
    position: absolute
    left: 50%
    bottom: 45px
    transform: translateX(-50%)
    color: white
    z-index: 4
    -webkit-transition: left 1s, opacity 1s
    transition: left 1s, opacity 1s
    opacity: 0

.roadmap
  height: 484px
  width: 100%
  padding-top: 135px
  text-align: center
  background: black
  color: white

  &__header
    @extend %landing-header

  &__content
    @extend %landing-content
    width: 790px
    margin: auto

  &__points
    margin-top: 53px
    height: 78px
    font-size: 18px

    &_item
      display: inline-block
      margin-right: 70px
      &:last-child
        margin: 0
      *
        display: inline-block

      &_ball
        margin: 11px
        width: 34px
        height: 34px
        border: 2px solid rgba(255,255,255,0.3)
        border-radius: 20px
        vertical-align: middle
        line-height: 34px

      &_ball-selected
        background-color: white
        border-color: white
        color: $accentColor

.hide-header
  .menu
    height: 0
  .header__logo
    opacity: 1

.stick-roadmap
  .submenu
    display: block
    background-color: $darkGrey
    color: white
    .roadmap__points
      text-align: center
      margin-top: 10px
      margin-left: -22px

