%active
  border: 0 solid $accentColor
  border-bottom-width: 3px
  a
    color: $accentColor

.menu
  position: fixed
  top: 0
  left: 0
  right: 0
  width: 100%
  height: 90px
  background-color: white
  -webkit-transition: height 0.3s
  transition: height 0.3s
  overflow: hidden
  z-index: 2
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10)

  &__logo
    float: left
    height: 90px
    img
      margin: 10px 0px
      height: 70px

  &__list-mobile
    display: none

  &__list
    float: right
    margin: 0
    list-style: none

    &_item
      display: inline-block
      height: 90px
      line-height: 90px
      margin-left: 30px
      box-sizing: border-box
      &:first-child
        margin-left: 0
      a
        font-size: 18px
        color: $grey
        text-decoration: none

      &.active
        @extend %active

  .accent-button
    width: 130px
    color: white
    width: 120px
    height: 40px
    line-height: 40px


  &__session


    &_logout, &_settings
      position: absolute
      right: 5px
      color: $grey
      margin-left: 5px
      text-decoration: none
      font-size: 10px


    &_logout
      top: 3px

    &_settings
      top: 3px
      right: 45px
      &:before
        margin-right: 3px

  &__menu
    display: none



.submenu
  position: fixed
  display: none
  top: 90px
  left: 0
  right: 0
  width: 100%
  height: 78px
  overflow: hidden
  background-color: $darkGrey
  color: white
  z-index: 3
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10)

  ul
    list-style: none
    text-align: center

    li
      display: inline-block
      line-height: 77px
      margin: 0 70px
      color: white
      text-decoration: none
      a
        color: white
        font-size: 18px
        &:hover
          text-decoration: none
      &.active
        @extend %active


body.has-submenu
  .submenu
    display: inline-block



@media screen and (max-width: $mobile)
  .menu
    height: 70px
    z-index: 5
    &__logo
      float: left
      height: 90px
      img
        margin: 10px 0px
        height: 50px

    &__list
      display: none
    &__list-mobile
      display: block
      .menu__list_item
        width: 100%
        height: 50px
        margin-left: 0
        line-height: 50px

    &__menu
      display: block
      float: right
      font-size: 40px
      line-height: 70px

    &__session
      display: none

    &.expand
      height: 100vh

    .accent-button
      color: white

    .logout
      margin-top: 30px


  .submenu
    top: 70px
    height: 45px


