%pages__header
  width: 100%
  margin: 100px 0
  text-align: center

%pages__title
  text-align: center
  font-weight: bold
  font-size: 36px
%pages__subtitle
  text-align: center
  font-weight: bold
  font-size: 28px
  margin-bottom: 20px

%pages__subheader
  margin: 40px 0 10px 0
  font-size: 20px
  font-weight: bold

%pages__content
  margin: 10px 0
  text-align: justify

%pages__quote
  margin: 20px auto 10px auto
  text-align: center
  font-style: italic
%pages-author
  text-align: center
  margin-bottom: 40px

%pages__button
  margin: 120px auto
  text-align: center
  .accent-button
    width: 400px
    margin: 40px auto



.solutions
  h1
    margin-top: 20px
  &__header
    @extend %pages__header

  &__title
    @extend %pages__title
  &__subtitle
    @extend %pages__subtitle

  &__subheader
    @extend %pages__subheader

  &__content
    @extend %pages__content

  &__quote
    @extend %pages__quote
    &-author
      @extend %pages-author

  &__button
    @extend %pages__button

.about
  h1
    margin-top: 20px
  &__header
    @extend %pages__header

  &__title
    @extend %pages__title
  &__title-noomap
    @extend %pages__title
    margin-top: 50px
  &__subtitle
    @extend %pages__subtitle

  &__subheader
    @extend %pages__subheader

  &__content
    @extend %pages__content

  &__quote
    @extend %pages__quote
    &-author
      @extend %pages-author

  &__button
    @extend %pages__button

  &__noomap-embed
    margin: 40px auto
    width: 100%
    height: 800px
    box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.70)

  .col-sm-6
    img, iframe
      width: 100%

  &__wiki-button
    margin: 40px auto 60px auto !important


.donations
  h1
    margin-top: 20px
  &__header
    @extend %pages__header

  &__title
    @extend %pages__title
  &__title-noomap
    @extend %pages__title
    margin-top: 250px
  &__subtitle
    @extend %pages__subtitle

  &__subheader
    @extend %pages__subheader

  &__content
    @extend %pages__content

  &__buttons
    margin-top: 50px
    text-align: center


.learn-more
  background-color: white
  padding: 60px 0 0 0

  &__header
    @extend %landing-subheader
    text-align: center

  &__items
    position: relative
    left: 50%
    +transform(translateX(-50%))
    max-width: 762px
    width: 100%


    &_item
      margin-bottom: 70px

      &_header
        @extend %landing-subheader
        margin-bottom: 12px
        color: black
        &:hover
          color: black
          text-decoration: none
      &_subheader
        @extend %landing-subheader
        margin-bottom: 8px
        font-size: 18px
        font-weight: bold
      &_content
        margin-bottom: 20px
        text-align: justify
      &_content-video
        margin-bottom: 50px
        text-align: center
      &_seperator-heading
        margin-bottom: 10px
        font-weight: bold

  &__subnavi
    display: none
    position: absolute
    left: 50%
    +transform(translateX(-470px))

    %item
      width: 88px
      height: 88px
      color: $grey
      border-radius: 44px
      line-height: 88px
      text-align: center
      box-sizing: border-box

    &_1
      @extend %item
    &_2
      @extend %item
    &_3
      @extend %item

    &_selected
      background-color: $accentColor
      color: white !important