.user-settings
  .user-settings_header
    font-size: 30px
    font-weight: bold



  form
    .line
      display: block
      margin-top: 10px


  &__info-button
    @extend .accent-button
    margin: 40px auto
    width: 300px !important

  &__personal
    border: 0px solid $mediumGrey
    border-right-width: 1px

  &__group
    &_list-header
      font-size: 18px
      font-weight: bold